.buttonBase {
  text-align: center;
  font-weight: var(--theme_font_weight_bold);
  text-transform: uppercase;
  cursor: pointer;
  display: block;
}

.smallPurpleAccent {
  background-color: var(--accent_primary);
  color: var(--theme_white);
  border-radius: 40px;
  border: none;
  font-size: var(--theme_font_size_subpoint);
  width: 240px;
  line-height: 45px;
}

.smallPurple {
  background-color: var(--theme_purple);
  color: var(--theme_white);
  border-radius: 40px;
  border: none;
  font-size: var(--theme_font_size_subpoint);
  width: 240px;
  line-height: 45px;
}

.smallWhite {
  background-color: var(--theme_white);
  color: var(--theme_purple);
  border: solid 1px var(--theme_purple);
  font-size: var(--theme_font_size_subpoint);
  width: 240px;
  line-height: 45px;
}

.bigPurpleAccent {
  background-color: var(--accent_primary);
  color: var(--theme_white);
  border-radius: 40px;
  border: none;
  font-size: var(--theme_font_size_description);
  width: 410px;
  line-height: 80px;
}

.bigPurple {
  background-color: var(--theme_purple);
  color: var(--theme_white);
  border-radius: 40px;
  border: none;
  font-size: var(--theme_font_size_description);
  width: 410px;
  line-height: 80px;
}

.bigWhite {
  background-color: var(--theme_white);
  color: var(--theme_purple);
  border: solid 1px var(--theme_purple);
  font-size: var(--theme_font_size_description);
  width: 410px;
  line-height: 80px;
}
