.container {
  background-color: var(--purple);
  border: 1px solid var(--purple_accent);
  border-radius: 20px;
  padding: 30px;
  line-height: 20px;
  width: 330px;
}

.icon {
  margin-right: 20px;
  opacity: 0.5;
}

.text {
  color: var(--white);
  font-size: var(--font_size_subpoint_16);
}
