.container {
  background-color: var(--theme_purple);
  border: 1px solid var(--accent_primary);
  border-radius: 20px;
  padding: 30px;
  line-height: 20px;
  width: 330px;
}

.icon {
  margin-right: 20px;
  opacity: 0.5;
}

.text {
  color: var(--theme_white);
  font-size: var(--theme_font_size_subpoint);
}
