.graphicsLinkContainer {
  width: 280px;
  height: 280px;
}

.graphicsLink {
  width: 280px;
  height: 280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: solid 5px var(--theme_purple);
  transition: 0.5s;
}

.graphicsLinkHover {
  transform: rotateY(90deg);
  transition: 0.5s;
}

.graphicsLinkNew {
  background-color: var(--accent_primary);
  transform: rotateY(0deg);
  transition: 0.5s;
}

.graphicsLinkNewHover {
  background-color: var(--accent_primary);
  transform: rotateY(90deg);
  transition: 0.5s;
}

.graphic {
  max-width: 108px;
  max-height: 108px;
  margin: 55px auto 45px;
}

.graphicNew {
  max-width: 108px;
  max-height: 108px;
  margin: 55px auto 45px;
  color: var(--theme_white);
}

.graphicsDescription {
  font-size: var(--theme_font_size_description);
  color: var(--theme_purple);
}

.graphicsDescriptionNew {
  font-size: var(--theme_font_size_description);
  color: var(--theme_white);
}
