.graphicsLinkContainer {
  width: 280px;
  height: 280px;
}

.graphicsLink {
  width: 280px;
  height: 280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: solid 2px var(--white);
  transition: 0.5s;
}

.graphicsLinkHover {
  transform: rotateY(90deg);
  transition: 0.5s;
}

.graphicsLinkNew {
  background-color: var(--purple_accent);
  transform: rotateY(0deg);
  transition: 0.5s;
  border: solid 2px var(--darkgray);
}

.graphicsLinkNewHover {
  background-color: var(--purple_accent);
  border: solid 2px var(--darkgray);
  transform: rotateY(90deg);
  transition: 0.5s;
}

.graphic {
  max-width: 108px;
  max-height: 108px;
  margin: 55px auto 45px;
}

.graphicNew {
  max-width: 108px;
  max-height: 108px;
  margin: 55px auto 45px;
}

.graphicsDescription {
  font-size: var(--font_size_description_24);
  color: var(--white);
}

.graphicsDescriptionNew {
  font-size: var(--font_size_description_24);
  color: var(--darkgray);
}
