.graphicsLinkContainer {
  width: calc(25% - 20px);
}

.graphicsPointerEventsBlocker {
  pointer-events: none;
}

.graphicsLink {
  /*height: 280px;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: solid 2px var(--white);
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.graphicsLinkHover {
  transform: rotateY(90deg);
  transition: 0.5s;
}

.graphicsLinkNew {
  background-color: var(--purple_accent);
  transform: rotateY(0deg);
  transition: 0.5s;
  border: solid 2px var(--darkgray);
}

.graphicsLinkNewHover {
  background-color: var(--purple_accent);
  border: solid 2px var(--darkgray);
  transform: rotateY(90deg);
  transition: 0.5s;
}

.graphic {
  max-width: 108px;
  max-height: 108px;
  top: 45px;
  position: absolute;
}

.graphicNew {
  max-width: 108px;
  max-height: 108px;
  top: 45px;
  position: absolute;
}

.graphicsDescription {
  font-size: var(--font_size_description_24);
  color: var(--white);
  position: absolute;
  bottom: 40px;
}

.graphicsDescriptionNew {
  font-size: var(--font_size_description_24);
  color: var(--darkgray);
  position: absolute;
  bottom: 40px;
}

@media only screen and (max-width: 1279px) {
  .graphic {
    max-width: 50%;
    max-height: 50%;
    top: 16%;
  }

  .graphicNew {
    max-width: 50%;
    max-height: 50%;
    top: 16%;
  }

  .graphicsDescription,
  .graphicsDescriptionNew {
    bottom: 10%;
  }
}

@media only screen and (max-width: 1023px) {
  .graphicsDescription,
  .graphicsDescriptionNew {
    font-size: var(--font_size_subpoint_16);
  }
}

@media only screen and (max-width: 767px) {
  .graphicsLinkContainer {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
}
