.container {
  position: relative;
  background-color: var(--darkgray);
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
}

.background {
  position: absolute;
  background-color: #1a181b;
  height: 100%;
  object-fit: cover;
}

.content {
  margin: auto;
  width: 1200px;
  position: relative;
  z-index: 10;
  top: 15px;
}

.title {
  position: relative;
  margin-top: 56px;
  font-weight: var(--font_weight_super_bold);
  font-size: var(--font_size_megasuperplus_64);
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 0.02em;
}

.titleShadow {
  line-height: 128px;
  position: absolute;
  font-weight: 900;
  font-size: 128px;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  -webkit-text-stroke: 1px var(--white);
}

.description {
  font-weight: 300;
  font-size: var(--font_size_description_24);
  color: var(--white);
  display: block;
  margin-bottom: 90px;
  margin-top: 75px;
  width: 75%;
  line-height: 32px;
  letter-spacing: 0.01em;
}

@media only screen and (max-width: 1279px) {
  .container {
    padding: 80px 60px 0;
  }

  .content {
    width: 100%;
  }

  .title {
    line-height: 36px;
    font-size: 36px;
    margin-top: 28px;
  }

  .titleShadow {
    line-height: 64px;
    font-size: 64px;
  }

  .description {
    font-size: var(--font_size_subpoint_16);
    line-height: var(--font_size_description_24);
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .background {
    margin-left: -60px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 60px 30px 0;
  }

  .titleShadow {
    display: none;
  }

  .description {
    width: 100%;
  }

  .background {
    margin-left: -30px;
  }
}
