.container {
  background-color: var(--darkgray);
  width: 100%;
  display: flex;
}

.content {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.descriptionContainer {
  width: 680px;
  height: fit-content;
  margin: auto 0;
}

.title {
  margin-bottom: 40px;
  font-weight: var(--font_weight_bold);
  line-height: 60px;
  font-size: var(--font_size_header_48);
  color: var(--white);
  letter-spacing: 0.01em;
}

.description {
  font-weight: 300;
  font-size: var(--font_size_description_24);
  color: var(--white);
  letter-spacing: 0.01em;
  line-height: 32px;
}

.image {
  width: auto;
  height: 560px;
  margin-top: 140px;
}

.startButton {
  margin-top: 40px;
}

@media only screen and (max-width: 1279px) {
  .container {
    padding: 0 60px;
  }

  .descriptionContainer {
    width: 60%;
  }

  .title {
    font-size: var(--font_size_description_24);
    line-height: 32px;
  }

  .description {
    font-size: var(--font_size_subpoint_16);
    line-height: var(--font_size_description_24);
  }

  .image {
    width: calc(40% - 120px);
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .content {
    flex-direction: column;
  }

  .descriptionContainer {
    width: 100%;
  }

  .image {
    width: 100%;
    max-width: 260px;
    margin: 40px auto 0;
  }
}
