.container {
  background-color: var(--theme_white);
  width: 100%;
  display: flex;
}

.content {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.descriptionContainer {
  width: 680px;
  height: fit-content;
  margin: auto 0;
}

.title {
  margin-bottom: 80px;
  font-weight: var(--theme_font_weight_bold);
  line-height: 60px;
  font-size: var(--theme_font_size_header);
  color: var(--theme_darkgray);
}

.description {
  font-weight: 300;
  font-size: var(--theme_font_size_description);
  color: var(--theme_darkgray);
}

.image {
  width: auto;
  height: 530px;
  margin-top: 190px;
}

.startButton {
  margin-top: 40px;
}
