.container {
  background-color: var(--darkgray);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  margin: auto;
  width: 1200px;
}

.title {
  margin: 10px auto 43px;
  font-size: var(--font_size_header_48);
  color: var(--darkgray);
  font-weight: var(--font_weight_bold);
}

.descriptionsContainer {
  margin: 0 auto 70px;
  display: flex;
  justify-content: space-between;
}

.descriptionContainer {
  width: calc(33.33% - 30px);
}

.number {
  font-size: var(--font_size_header_48);
  color: var(--white);
  font-weight: var(--font_weight_bold);
  width: 64px;
  display: block;
  line-height: 64px;
  border-bottom: solid 10px var(--purple_accent);
}

.descriptionHeader {
  color: var(--white);
  margin: 12px 0;
  font-size: var(--font_size_description_24);
}

.description {
  font-size: var(--font_size_subpoint_16);
  color: var(--white);
  line-height: 32px;
  max-width: 275px;
  margin: 0;
}

@media only screen and (max-width: 1279px) {
  .container {
    padding: 0 60px;
  }

  .content {
    width: 100%;
  }

  .descriptionsContainer {
    margin: 0 0 40px;
  }

  .number {
    font-size: var(--font_size_header_mobile_36);
    line-height: 48px;
    border-width: 5px;
  }

  .descriptionHeader {
    font-size: var(--font_size_description_mobile_18);
  }

  .description {
    font-size: var(--font_size_subpoint_mobile_14);
    line-height: 17px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 30px;
  }

  .descriptionsContainer {
    flex-direction: column;
    margin-bottom: 0;
  }

  .descriptionContainer {
    width: 100%;
    margin-bottom: 30px;
  }

  .description {
    max-width: unset;
  }
}
