.container {
  background-color: var(--theme_darkgray);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  margin: auto;
  width: 1200px;
}

.title {
  margin: 10px auto 43px;
  font-size: var(--theme_font_size_header);
  color: var(--theme_darkgray);
  font-weight: var(--theme_font_weight_bold);
}

.descriptionsContainer {
  margin: 0 auto 70px;
  width: 1180px;
  display: flex;
  justify-content: space-between;
}

.descriptionContainer {
  width: 380px;
}

.number {
  font-size: var(--theme_font_size_header);
  color: var(--theme_white);
  font-weight: var(--theme_font_weight_bold);
  width: 64px;
  display: block;
  line-height: 64px;
  border-bottom: solid 10px var(--accent_primary);
}

.descriptionHeader {
  color: var(--theme_white);
  margin: 12px 0;
  font-size: var(--theme_font_size_description);
}

.description {
  font-size: var(--theme_font_size_subpoint);
  color: var(--theme_white);
  line-height: 32px;
  width: 275px;
  margin: 0;
}
