.container {
  background-color: var(--darkgray);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}

.content {
  margin: auto;
  width: 1200px;
}

.graphicsContainer {
  margin: 0 auto 0;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.extraDescriptionContainer {
  font-size: var(--font_size_description_24);
  color: var(--white);
  margin-bottom: 30px;
}

.buttonContainer {
  margin-top: 40px;
  text-align: center;
}
