.container {
  background-color: var(--darkgray);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  margin: auto;
  width: 1200px;
}

.graphicsContainer {
  margin: 0 auto 40px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.graphicsLink {
  width: 380px;
  height: 380px;
}

.buttonContainer {
  text-align: center;
  margin-bottom: 100px;
}

@media only screen and (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }

  .content {
    width: calc(100% - 60px);
  }

  .graphicsContainer {
    width: 100%;
  }

  .graphicsLink {
    width: calc(33.33% - 10px);
    height: auto;
  }

  .buttonContainer {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .graphicsContainer {
    flex-direction: column;
  }

  .graphicsLink {
    width: 100%;
    max-width: 320px;
    margin: 20px auto auto;
  }

  .graphicsLink:first-of-type {
    margin-top: 0;
  }
}
