.container {
  background-color: var(--purple);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  margin: auto;
  width: 1200px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 964px;
  margin: 0 auto 100px;
}

@media only screen and (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }

  .content {
    width: calc(100% - 60px);
  }

  .buttonsContainer {
    width: 100%;
    margin: 0 auto 40px;
    max-width: 960px;
  }
}

@media only screen and (max-width: 767px) {
  .buttonsContainer {
    flex-wrap: wrap;
  }
}
