.container {
  background-color: var(--darkgray);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  margin: 0 auto 100px;
  width: 1200px;
}

.bulletsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.bulletsContainer:before {
  position: absolute;
  left: 14px;
  top: 15px;
  content: "";
  background-color: var(--purple_accent);
  font-weight: bold;
  width: 2px;
  height: calc(100% - 30px);
  display: inline-block;
}

.bulletPoint {
  font-size: var(--font_size_description_24);
  line-height: var(--font_size_description_24);
  color: var(--white);
  padding: 18px 50px;
  position: relative;
  width: calc(75% + 50px);
}

.bulletPoint:before {
  position: absolute;
  left: 0;
  content: "";
  background-color: var(--purple_accent);
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  top: 50%;
  transform: translateY(-15px);
}

@media only screen and (max-width: 1279px) {
  .container {
    padding: 0 60px;
  }

  .content {
    width: 100%;
    margin: 0 auto 60px;
  }

  .bulletPoint {
    font-size: var(--font_size_subpoint_16);
    line-height: var(--font_size_subpoint_16);
    padding: 7px 40px;
  }

  .bulletsContainer:before {
    left: 9px;
  }

  .bulletPoint:before {
    width: 20px;
    height: 20px;
  }
}
