.container {
  background-color: var(--theme_purple);
  width: 100%;
  display: flex;
}

.content {
  margin: auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 110px auto 140px auto;
  font-weight: 900;
  font-size: var(--theme_font_size_header);
  color: var(--theme_white);
}

.servicesContainer {
  display: flex;
  justify-content: space-between;
}

.service {
  background-color: var(--theme_white);
  width: 585px;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.serviceTitle {
  margin: 50px auto 0 auto;
  font-weight: 900;
  font-size: var(--theme_font_size_header);
  color: var(--theme_darkgray);
}

.servicesDescriptionContainer {
  display: flex;
  margin: auto 0 auto 100px;
  flex-direction: column;
}

.serviceDescription {
  font-size: var(--theme_font_size_description);
}

li.serviceDescription:not(:last-child) {
  margin-bottom: 28px;
}
