:root {
  --purple: #271032;
  --darkgray: #1a181b;
  --white: #fffffc;
  --purple_accent: #801e60;
  --green_contrast: #a1e44d;
  --lightgray: #c4c4c4;

  --white_rgb: 255, 255, 252;
  --purple_accent_rgb: 128, 30, 96;

  --font_size_megasuperplus_64: 64px;
  --font_size_header_48: 48px;
  --font_size_header_mobile_36: 36px;
  --font_size_description_24: 24px;
  --font_size_description_mobile_18: 18px;
  --font_size_subpoint_16: 16px;
  --font_size_subpoint_mobile_14: 14px;

  --font_weight_super_bold: 900;
  --font_weight_bold: 700;
  --font_weight_normal: 400;
}
